<% content_for :title do %>
  Change a ukulele
<% end %>
<div class="row">
  <div class="small-10 medium-6 large-6 columns">
    <h1><%= @title %></h1>

    <%= render :partial => "shared/ukuleleform" %>

  </div>
</div>
